# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [4]:
 def is_price(price):
        price_number = float(price.split('$')[1])
        if price_number>10:
            return True

In [8]:
A=chipo['item_price'].apply(is_price)
A.count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [9]:
df=pd.DataFrame({'item_name':chipo['item_name'],'item_price':chipo['item_price']})
df

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [10]:
df['item_name'].sort_values().unique()

array(['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito',
       'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl',
       'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito',
       'Canned Soda', 'Canned Soft Drink', 'Carnitas Bowl',
       'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad',
       'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl',
       'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad',
       'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips',
       'Chips and Fresh Tomato Salsa', 'Chips and Guacamole',
       'Chips and Mild Fresh Tomato Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Tomatillo Green Chili Salsa',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Tomatillo-Green Chili Salsa',
       'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze',
       'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl',
       'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad',
       'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl',
       'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad',
       'Veggie Salad Bowl', 'Veggie Soft Tacos'], dtype=object)

### Step 7. What was the quantity of the most expensive item ordered?

In [11]:
 def is_price1(price):
        price_number = float(price.split('$')[1])
        return price_number
price=chipo['item_price'].apply(is_price1)
price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [12]:
chipo['price']=price
chipo.iloc[chipo['price'].idxmax()]['quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [13]:
 chipo[chipo['item_name']=='Veggie Salad Bowl']['order_id'].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [15]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]['order_id'].count()

20

### Step 10. What is the order id of order with the highest total price of all items ordered in that order?

In [16]:
order_totals = chipo.groupby('order_id')['price'].sum()
highest_order_id = order_totals.idxmax()
highest_order_id

926

### Step 11. In How many orders, atleast one items is ordered multiple times?

In [17]:
chipo[chipo['quantity'] > 1]['order_id'].nunique()

233